
<!-- Toolbar -->
<mat-toolbar color="primary" class="main-toolbar">
  <span>Juke</span>
  <nav *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  <div style="margin-left: 400px;">
    <span>{{currentUser.venueName}}</span>
  </div>
</mat-toolbar>


<div class="content" role="main">



    <div class="container">
        <div class="row">
                <alert></alert>
                <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
